.navbar {
  width: 12.5vw;
  height: 100vh;
  background-color: #15233d;
  position: fixed;
  left: 0;
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  color: #ffffff;
}
.logo {
  width: 80%;
}
.nav-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 10rem;
}
.nav-items div {
  display: flex;
  padding: 0.5rem;
}
.logout {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
